---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-community
  namespace: monitoring
spec:
  interval: 5m
  url: https://prometheus-community.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
      version: 80.14.4 
  install:
    createNamespace: true
  interval: 1m0s
  releaseName: prometheus
  targetNamespace: monitoring
  values:
    kubeEtcd:
      enabled: false
    
    kubeControllerManager:
      enabled: false
    kubeScheduler:
      enabled: false
    
    alertmanager:
      enabled: false
    
    prometheus:
      service:
        type: "LoadBalancer"
      prometheusSpec:
        retention: 7d
        retentionSize: 50GB
        serviceMonitorSelector:
          matchLabels:
            release: prometheus
        podMonitorSelector:
          matchLabels:
            release: prometheus
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: "longhorn"
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 10Gi
    
    grafana:
      plugins:
        - grafana-piechart-panel
      persistence:
        enabled: true
        type: sts
        storageClassName: "longhorn"
        accessModes:
          - ReadWriteOnce
        size: 20Gi
        finalizers:
          - kubernetes.io/pvc-protection
      server:
        domain: grafana.mgsds.com
        http_port: 443
        protocol: https
      grafana.ini:
        auth:
          oauth_allow_insecure_email_lookup: true
        server:
          domain: grafana.mgsds.com
          root_url: https://grafana.mgsds.com